body {
  background-color: slategray;
}

h1   {
  color: orange;
}

button {
  border-style: solid;
  border-color: black;
  background-color: orange;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.row {
  white-space: nowrap;
}
