<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Fahad's Page</title>
    </head>
    <body class="graybody">
      <center>
        <div>
            <img src = "{% static 'mainpic.jpg' %}" height = 300></img>
            <h1>Welcome to Fahad's Page</h1>
            <strong> An undergraduate student at The University of Birmingham pursuing "BSc Artificial Intelligence and Computer Science with an year in industry". </strong>
           <br><strong> Currently on an year placement as "Software Developer" in Vistair Bristol. </strong>
       </div>
       <div class = "row">
         <button><a href="{% url 'blogpage' %}">Blog</a></button>
         <button><a href="{% url 'cvmenu' %}">CV</a></button>
       </div>
    </center>
   </body>
</html>
