<html>
    <head>
        <title>Fahad's Page</title>
    </head>
    <body>
      <div>
        <center>
          <img src = "" height = 300></img>
          <h1>Welcome to Fahad's Page</h1>
          <strong> An undergraduate student at The University of Birmingham pursuing "BSc Artificial Intelligence and Computer Science with an year in industry". </strong>
         <br><strong> Currently on an year placement as "Software Developer" in Vistair Bristol. </strong>
       </center>
     </div>
     <div>
       <h2><a href="{% url 'blogpage' %}">Blog</a></h2>
     </div>
     <div>
       <h2><a href="">CV</a></h2>
     </div>
    </body>
</html>
